.control.fa-forward{
    background:url(../images/next.svg);
    background-repeat:no-repeat;
    background-size:25px;
}
.control.fa-play {
    background: url(../images/play.svg);
    background-repeat: no-repeat;
    background-size:25px;
}
.control.fa-pause {
    background: url(../images/pause.svg);
    background-repeat: no-repeat;
}
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vmin;
}

h3 {
    margin: 5px;
}

h2 {
    margin: 8px;
}

h1 {
    margin: 10px;
}

.break {
    text-align: center;
    padding: 0px 20px 10px 20px;
    margin-right: 10px;
    background: #1A237E;
    border-radius: 10px;
    color: #aabbaa;
    box-shadow: 0px 0px 10px 1px orangered;
}

.duration {
    padding: 0px 20px 10px 20px;
    margin-left: 10px;
    background: #44237E;
    border-radius: 10px;
    color: #ccbbcc;
    box-shadow: 0px 0px 10px 1px limegreen;
    text-align: center;
}

.setup {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    background: #222222;
    font-size: 15px;
    color: white;
    font-weight: bolder
}

.control {
    background: #222222;
    border: none;
    font-weight: bolder;
    text-align: center;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    width:25px;
    height:25px;
}

    .control:hover {
        box-shadow:0px 0px 3px 2px blue;
    }

    .control:disabled {
        color: grey;
    }

.setup:hover {
    background: white;
    color: #222233;
    border: none;
}

.header {
    text-align: center;
}

.clock {
    background: transparent;
    border: 1px solid green;
    padding-top: 50px;
    height: 150px;
    width: 200px;
    text-align: center;
    border-radius: 50%;
    transform: scale(1.4);
    box-shadow: 0px 0px 15px -1px black;
    position: absolute;
    top: 250px;
    z-index: 10;
    overflow: hidden;
}

.clocks {
    position: absolute;
    margin-left: 50px;
    z-index: 10;
}

.backg {
    width: 200px;
    margin-top: -50px;
    height: 200px;
    position: absolute;
    z-index: 5;
}

.backs {
    background: #afb;
    z-index: 5;
}

.backb {
    background: #fab;
    z-index: 5;
}

.inter {
    display: none;
}
